player-connection-mode=Listen
player-connection-guid=4235572204
player-connection-debug=0
player-connection-project-name=GunPrototype
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.20
profiler-enable=1
wait-for-native-debugger=0
vr-enabled=1
vr-device-list=OpenVR,Oculus
hdr-display-enabled=0
